html{
    overflow-x: hidden;
}

@font-face {
    font-family: 'GentonaMedium';
    src: url('../font-family/Gentona\ Medium.otf');
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'GentonaMedium';
}



a{
    text-decoration: none;
}

.page-wrapper {
    border: 2px solid blue;
    /* flex-direction: row; */
    /* height: max-content; */
    /* background-color: white; */
}

