.sec6_wrapper{
    /* border: 2px solid red; */
    height: 854.9px;
    background-color:  #F1F6E9;
    transform: skewY(-2deg);
    padding: 152px 0;
}

.sec6_in_wrapper{
    /* border: 2px solid blue; */
    height: 450px;
    width: 68%;
    transform: skewY(2deg);
}

.j7h1jfd-s p{
    /* border: 2px solid red; */
     /* Font & Text */
        /* font-family: gentonamedium; */
        font-size: 48px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        letter-spacing: -1px;
        line-height: 48px;
        text-decoration: none solid rgb(0, 0, 0);
        text-align: left;
        text-indent: 0px;
        text-transform: none;
        vertical-align: baseline;
        white-space: normal;
        word-spacing: 0px;
    
        /* Color & Background */
        text-shadow: rgb(255, 255, 255) 1.152px 1.152px 0px, rgb(146, 200, 62) 1.728px 1.728px 0px;
        color: rgb(0, 0, 0);
    
        /* Box */
        height: 69px;
        width: 651px;
}

.sec6_ss{
    /* border: 2px solid green; */
    height: 312px;
    /* background-image: url('../assets/img114.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
    justify-content: space-between;
    /* justify-content: space-between; */
    width: 100%;
}

.know_more{
    /* border: 2px solid red; */
    height: 309px;
    width: 32%;
}

.know_more img{
    width: 100%;
}

.know_more p{
    
        /* Font & Text */
        /* font-family: gentonamedium; */
        font-size: 22px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        letter-spacing: -0.22px;
        line-height: 24px;
        text-decoration: none solid rgb(0, 0, 0);
        text-align: left;
        text-indent: 0px;
        text-transform: none;
        vertical-align: baseline;
        white-space: normal;
        word-spacing: 0px;
    
    
        color: rgb(0, 0, 0);
    
        /* Box */
        height: auto;
        width: auto;
    
}

.know_more a{
    text-decoration: none;
    color: #3CEF83;
    font-size: large;
    font-weight: 600;
}